$primary: #15473E;
$background-mine: #F3F9EB;
$pcolor: #959698;
$inline: 120px;
$inline-ipad: 35px;
$inline-mobile: 20px;
$block: 94px;
$block-ipad: 65px;
$block-mobile: 30px;
$font36: 36px;
$font22: 22px;
$overlay: rgba(21, 71, 62, 0.7);
$footertextColor: #CCECE7;
// David 
$primary: #15473E;
$secondary: #F3F9EB;
$background: #ffffff;
$inlinepad: 120px;
$inlinepad-m: 20px;
$inlinepad-i: 35px;